{{!-- BEGIN-SNIPPET myOwnNavItem.hbs --}}
<div class="d-flex align-items-center">
  <img class="option-img mr-2" src="assets/{{model.imgSrc}}" alt={{model.label}}>
  <span>{{model.label}}</span>
</div>
{{!-- END-SNIPPET myOwnNavItem.hbs --}}